<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Gerador de senha</h1>

      <div class="field">
        <label>Comprimento da senha</label>
        <input class="input" (input)="onChangeLength($event.target.value)" />
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseLetters()" type="checkbox" />
            Usar letras
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeNumbers()" type="checkbox" />
            Usar Numeros
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeSymbols()" type="checkbox" />
            Usar Simbolos
          </label>
        </div>
      </div>

      <button [disabled]="
          !(length && (includeLetters || includeSymbols || includeNumbers))
        " (click)="onButtonClick()" class="button is-link is-fullwidth">
        Gerar senha!
      </button>

      <div class="box" *ngIf= 'password'>
        <label>Sua Senha</label>
        <input class="input" [value]="password" />
      </div>
    </div>
  </div>''
</div>